<div class="div-containere">
  <div class="div-element">
    <div class="svg">
      <img src="/assets/svg/facebook-svgrepo-com.svg" alt="" />
      <img src="/assets/svg/instagram-1-svgrepo-com.svg" alt="" />
      <img src="/assets/svg/twitter-color-svgrepo-com.svg" alt="" />
      <img src="/assets/svg/google-plus-svgrepo-com.svg" alt="" />
      <img src="/assets/svg/youtube-svgrepo-com.svg" alt="" />
    </div>
    <div class="footer-containere">
    <div class="footer-text">
      <a href="#">Home</a>
      <a href="#">News</a>
      <a href="#">About</a>
      <a href="#">Contact Us</a>
      <a href="#">Our Team</a>
    </div>
    </div>
  </div>
  <div class="span-footer">
    <span>Copinght @2024; Designed by FAHEEM</span>
  </div>
</div>
