.buto-div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
} 


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.border{
    border-bottom: 2px solid black;
    background-color: aqua;
    width: 100%;
}

.All {
    color: white;
    background-color: aqua;
    font-size: 20px;
    width: 70px;
    height: 60px;
}

pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    
}

.tbilisi{
    background-color: white;
    color: black;
    font-size: 20px;
    width: 70px;
    height: 60px;
}

.nav-1{
    display: flex;
    gap: 200px;
}

.nav-2{
    display: flex;
    gap: 40px;
}

.nav-div{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 90px;
}

span{
    color: black;
    font-weight: 700;
    font-size: 20px;
}


.div-data{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.junior{
    display: flex;
    flex-direction: column;

} 

.info-Data{
    display: flex;
    gap: 20px;
}

.img{
    display: flex;
    flex-direction: row;
}