<!-- 
<div *ngIf="cartsServis.rooms && cartsServis.rooms.length > 0"   class="d-flex flex-wrap justify-content-center card-divi">
  <div *ngFor="let room of cartsServis.rooms" class="card" style="width: 18rem">
    <img [src]="room.images[0].source" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{room.name}}</h5>
      <p class="card-text">Price: {{room.pricePerNight}} $</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->
